<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- Chat favicon-->
        <link href="static/favicon.ico" rel="shortcut icon">

        <!-- Custom styling -->
        <link href="/static/styles.css" rel="stylesheet">

        <!-- Javascript -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <!-- SocketIO -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <!-- Custom Javascript -->
        <script src="{{ url_for('static', filename='script.js') }}"></script>

        <title>Flack, a Flask messaging system</title>

    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-light bg-dark border">
            <a class="navbar-brand" href="/"><span class="text-white">Flack</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item" id="logoutLink"><a class="nav-link">Logout</a></li>
                </ul>
            </div>
        </nav>

        <!-- Actual layout -->
        <div class="container-fluid">
            <div class="row">
                <!-- Left Side bar -->
                <nav class="col-md-3 bg-light sidebar">
                    <h2>Channels</h2>
                    <div id="channelList" class="list-group">
                    </div>
                    <div class="input-group">
                        <input id="channelName" autocomplete="off" placeholder="Add channel" autofocus/>
                        <div class="input-group-append">
                            <button id="submitChannel" type="button" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </nav>
                <!-- Chat contents -->
                <main class="col-md-9">
                    <div id="messagesList" class="list-group"></div>
                    <div class="input-group">
                        <input id="chatInput" autocomplete="off" autofocus/>
                        <div class="input-group-append">
                            <button id="sendButton" type="button" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <!-- Pop up display for prompting display name to user -->
        <div class="modal" id="userModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Enter username</h5>
                    </div>
                    <div class="modal-body">
                        <form id="loginForm" class="inputForm">
                            <div class="form-group">
                                <input id="displayName" type="text" name="name" autocomplete="off" autofocus placeholder="Your display name" required>
                                <button id="submitName" type="button" class="btn btn-primary">Join</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pop up display for prompting channel name to user -->
        <div class="modal" id="addChannelModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Enter channel name</h5>
                    </div>
                    <div class="modal-body">
                        <form id="channelForm" class="inputForm">
                            <div class="form-group">
                                <input id="channelName" type="text" name="channel" autocomplete="off" autofocus placeholder="Channel Name" required>
                                <button id="submitChannel" type="button" class="btn btn-primary">Add Channel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <button id="addDisplayName" type="button">Launch modal</button>
    </body>
</html>
